---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Portfolio from '../components/Portfolio.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
---

<Layout 
	title="Gamith Kisal | Premium Digital Architect & Software Engineer" 
	description="Portfolio of Gamith Kisal. Elite digital studio specializing in software engineering, brand design, and scalable web architecture."
>
	<main>
		<Header />
		<Hero />
		<Portfolio />
		<Services />
		<Contact />
		
	</main>
</Layout>